<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>220419844882-lmn0vung4u6ie0ra85r7d8108ep5lfrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220419844882-lmn0vung4u6ie0ra85r7d8108ep5lfrv</string>
	<key>API_KEY</key>
	<string>AIzaSyAgPVjwQpMaVBHP8kyDzaWs5AfKcmIHgaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>220419844882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.local.food</string>
	<key>PROJECT_ID</key>
	<string>local-643a6</string>
	<key>STORAGE_BUCKET</key>
	<string>local-643a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:220419844882:ios:3c48e334907e05d0</string>
	<key>DATABASE_URL</key>
	<string>https://local-643a6.firebaseio.com</string>
</dict>
</plist>
